/* Button.module.css */
.button {
    width: 168px;
    height: 38px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .primary {
    background-color: #F4BB4A;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-weight: 400px;
  }
  
  .secondary {
    background-color: #E3E3E34A;
    color: #000000;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
  }
  
  .shadow {
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  